*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    font-family: sans-serif;
}
/* utilita*/
.container{
    max-width: 1200px;
    margin: 0 auto;
}

.flex-container{
    display: flex;
    justify-content: space-between;
}





/* generale*/

.main-header{
background-color: lightblue;
min-height: 80px;
padding-top: 15px;
}

.header-content{
    background-color: goldenrod;
    min-height: 50px;
    min-width: 100px;
    line-height: 45px;
    padding-left: 10px;
}

.logo{
    flex-basis: 25%;
    border: 2px dashed black;
}

.link{
    flex-basis: 50%;
    border: 2px dashed black;
    display: flex;
    justify-content: center;
}
.login{
    flex-basis: 25%;
    border: 2px dashed black;
}