*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    font-family: sans-serif;
}





/* utilita*/
.container{
    max-width: 1200px;
    margin: 0 auto;
}

.flex-container{
    display: flex;
}

.space-btw{
    display: flex;
    justify-content: space-between;
}

.main-container-pattern{
    min-height: 600px;
    padding-top: 50px;
}


/* generale HEADER*/

.main-header{
background-color: lightblue;
min-height: 80px;
padding-top: 15px;
}

.header-content{
    background-color: goldenrod;
    min-height: 50px;
    min-width: 100px;
    line-height: 45px;
    padding-left: 10px;
}

.logo{
    flex-basis: 25%;
    border: 2px dashed black;
}

.link{
    flex-basis: 50%;
    border: 2px dashed black;
    display: flex;
    justify-content: center;
}
.login{
    flex-basis: 25%;
    border: 2px dashed black;
}


.main-picture-bg{
    background-color: blue;
    min-height: 500px;
}

#sm-container{
    margin: 0px auto;
    max-width: 900px;
    padding: 55px 0;
}

#sm-container>div{
    height: 390px;
    background-color: pink;
}
 
/*utils cells*/
.team-blue{
    background-color: lightblue;    
 }
 .team-pink{
    background-color: pink;
 }

.bigger{
    flex-basis: 60%;
    height: 500px;
}
.smaller{
    flex-basis: 40%;
}

.cells-bg-gray{
    background-color: lightgray;
}

.cells-bg-black{
    background-color: black;
}

#big-green{
    height: 800px;
    background-color: green;
}
 
